.dashboard-root {
    display: flex;
    /* height: 100vh; */
    
}
.dashboard-root-right { 
    width: 100%;
}
.dashboard-root-info-side-detail-type-sub {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.topic-head {
    font-size: 2rem;
}
.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
}
.point-1 {
    background-color: #E38627
}
.point-2 {
    background-color: #C13C37
}
.point-3 {
    background-color: #6A2135
}
.point-4 {
    background-color: #000000
}
.point-5 {
    background-color: #C9DAF1
}
.point-6 {
    background-color: #82BC95
}
.point-7 {
    background-color: #DADADA
}
.point-8 {
    background-color: #485C7A
}
.point-9 {
    background-color: #FFF2C3
}
.point-10 {
    background-color: #EDC10C
}
.point-11 {
    background-color: #EB1B74;
}


.dashboard-topic {
    background-color: #EAE8E8;
    margin: 30px;
    font-size: 2rem;
}
.dashboard-root-number-overview {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color: white;
}
.dashboard-root-number-overview > * {
    width: 15%;
    background-color: #485C7A;
    border-radius: 20px;
    border-style: none;
    /* height: 80%; */
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.dashboard-root-info {
    text-align: start;
    background-color: white;
    margin: 30px;
    padding: 20px;
    /* height: 100vh; */
}

.dashboard-root-info-side {
    display: flex;
    text-align: start;
    margin: 20px;
    justify-content: space-evenly
}

.pieClass {
    width: 100%;
}

.dashboard-root-info-side-detail { 
    display: flex;
    margin-top: 30px;

    /* height: 150px; */
    align-items: flex-start;
}

.dashboard-root-info-side-cost {
    /* height: 100px; */
    margin-top: 30px;
}
.cost {
    font-size: 2rem;
}
.piechart {
    width: 30%;
}
.dashboard-root-info-employ-daily {
    width: 50%;
}
.dashboard-root-info-employ-daily > * {
    margin-top: 20px;
}

.dashboard-root-info-employ-daily-number {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.dashboard-root-info-employ-daily-optional {
    display: flex;
}
.dashboard-root-info-employ-daily-optional >* {
    width: 40%;
}
.optional-XX {
    font-size: 2em;
}
.number-big {
    text-align: end;
    width: 100%;
    font-size: 2rem;
    padding-right: 10px;
}
.data-moreinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data-moreinfo-name {
    text-align: start;
    font-size: 1rem;
}
.data-moreinfo-more {
    font-size: .5rem;
}
.time-counting {
    display: flex;
    text-align: center;
}
.time-counting > * {
    margin-left: 20px;
}